{% extends "base.html" %}

{% block title %}My Summaries{% endblock %}

{% block content %}
<section class="basic-info-list">
    <header class="basic-info-list-header">
        <div>
            <h2>Summary Section</h2>
            <p>Manage your "Summary" entries.</p>
        </div>
        <a href="{{ url_for('resume.create_summary') }}">
            <button>+ Create New</button>
        </a>
    </header>

    <hr>

    {% if summaries %}
        <div>
        {% for summary in summaries %}
            <article class="entry_item">
                <header>
                    <h3>{{ summary.entry_title }}</h3>
                </header>
                
                <p>{{ summary.content }}</p>
                
                <footer>
                    <a href="{{url_for('resume.edit_summary', summary_id=summary.id)}}"><button>Edit</button></a>
                    <a href="{{url_for('resume.delete_summary', summary_id=summary.id)}}"><button>Delete</button></a>
                </footer>
            </article>
        {% endfor %}
        </div>
    {% else %}
        <div class="no-entries-found">
            <h3>No "Summary" Sections Found</h3>
            <p>You haven't created any sections yet. Click the button above to get started!</p>
        </div>
    {% endif %}
</section>
{% endblock %}
