{% extends "admin/base_admin.html" %}

{% block title %}Manage Resume Themes{% endblock %}

{% block content %}
<section>
      <header class="basic-info-list-header">
        <div>
            <h2>Manage Themes</h2>
            <p>Manage themes that users can use for their resumes.</p>
        </div>
        <a href="{{ url_for('admin.create_theme') }}">
            <button>+ Create New</button>
        </a>
    </header>

    <hr>

{% if themes %}
  <div>
  {% for theme in themes %}
    <article class="entry_item">
      <header>
        <h3>{{ theme.name }}</h3>
      </header>
      <div>
        <span>{{ theme.styles[:200] }}...</span>
      </div>
      <footer>
        <a href=""><button>Edit</button></a>
        <a href="{{ url_for('admin.delete_theme', theme_id=theme.id) }}"><button class="">Delete</button></a>
      </footer>
    </article>
  {% endfor %}
  </div>
{% endif %}

</section>
{% endblock %}
