{% extends "base.html" %}

{% block title %}My Skills{% endblock %}

{% block content %}
<section>
    <header style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <h2>Skills</h2>
            <p>Manage how your skills are presented.</p>
        </div>
        <a href="">
            <button>+ Create New</button>
        </a>
    </header>

    <hr>

    {% if experiences %}
        <div>
        {% for skill in skills %}
            <article style="border: 1px solid #eee; padding: 1.5rem; margin-bottom: 1rem;">
                <header>
                    <h3>{{ skill.entry_title}}</h3>
                </header>
                
                <h4>Skill</h4>
                <p>{{ skill.description }}</p>
                
                <footer>
                    <a href=""><button>Edit</button></a>
                    <a href=""><button>Delete</button></a>
                </footer>
            </article>
        {% endfor %}
        </div>
    {% else %}
        <div style="text-align: center; padding: 2rem;">
            <h3>No Skills Found</h3>
            <p>You haven't added any skills yet. Click the button above to get started!</p>
        </div>
    {% endif %}
</section>
{% endblock %}
