{% extends "base.html" %}

{% block title %}Edit Summary{% endblock %}

{% block content %}
<section>
    <h2>Edit Summary</h2>
    <p>Fill out the form below to update your summary.</p>
    <hr>

    <form method="POST" action="#" novalidate>
        {{ form.hidden_tag() }} {# Renders CSRF token #}
        
        <fieldset class="form-section">
            <legend><h3>Summary</h3></legend>
            <div>
                {{ form.entry_title.label }}<br>
                {{ form.entry_title(size=50) }}
                {% for error in form.entry_title.errors %}
                    <br><span class="form-error-text">{{ error }}</span>
                {% endfor %}
            </div>
        </fieldset>
        
        <fieldset class="form-section">
            <legend><h3>Content</h3></legend>
            <div>
                {{ form.content(cols=60, rows=15) }}
                {% for error in form.content.errors %}
                    <br><span class="form-error-text">{{ error }}</span>
                {% endfor %}
            </div>
        <hr>

        <div>
            {{ form.submit(value='Update Info') }}
            <a href="{{ url_for('resume.list_summary') }}">Cancel</a>
        </div>
    </form>
</section>
{% endblock %}

