<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Aleksa's Dev Blog{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block header %}
    {% endblock %}
    
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>

    <header class="navbar">
        <div class="container">
            <a href="{{ url_for('main.index') }}" class="navbar-brand">Resume Builder</a>
            <nav>
                <ul class="nav-links">
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('resume.home') }}">Resume Data</a></li>
                    <li><a href="{{ url_for('resume.list_resume') }}">My Resumes</a></li>
                    {% endif %}
                    {% if current_user.is_admin %}
                    <li><a href="{{ url_for('admin.list_themes') }}">Admin Dashboard</a></li>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                    {% if features.registration_enabled %}
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer class="site-footer">
        <div class="container">
            <p>&copy; 2025 Aleksa Vidovic. All Rights Reserved.</p>
        </div>
    </footer>

    {% block scripts %}{% endblock %}

</body>
</html>
