{% extends "base.html" %}

{% block title %}New Skills{% endblock %}

{% block content %}

<form action="{{ url_for('resume.create_skills') }}" method="POST" novalidate>
    {{ form.hidden_tag() }}

    <fieldset class="form-section">
        <legend><h3>Skills</h3></legend>
        <div class="fields">
            {{ form.entry_title.label }}<br>
            {{ form.entry_title(size=50) }}
            {% for error in form.entry_title.errors %}
            <br><span class="form-error-text">{{ error }}</span>
            {% endfor %}
        </div>
    </fieldset>

    <fieldset class="form-section">
        <legend><h3>Description</h3></legend>
        <div class="fields">
            {{ form.description.label }}<br>
            {{ form.description(cols= 50, rows=18) }}
            {% for error in form.description.errors %}
            <br><span class="form-error-text">{{ error }}</span>
            {% endfor %}
        </div>
    </fieldset>

    <fieldset class="form-section">
        {{ form.submit() }}
    </fieldset>

</form>

{% endblock %}
