{% extends "base.html" %}

{% block title %}Resume Editor{% endblock %}

{% block content %}
<h1> Resume sections </h1>
<a href="{{url_for('resume.list_basic_info')}}"><h2>Basic Info</h2></a>
{% for info in basic_info %}
<p> - <strong>{{ info.entry_title }}</strong> - {{ info.job_title }}</p>
{% endfor %}
<a href="{{url_for('resume.list_summary')}}"><h2>Summary</h2></a>
{% for summary in summaries %}
<p> - <strong>{{ summary.entry_title }}</strong>: {{ summary.content[:30] }}...</p>
{% endfor %}
<a href="{{url_for('resume.list_experience')}}"><h2>Experience</h2></a>
{% for experience in experiences %}
<p> - <strong>{{ experience.entry_title }}</strong>: {{ experience.description[:30] }}...</p>
{% endfor %}
<a href="{{url_for('resume.education')}}"><h2>Education</h2></a>
<a href="{{url_for('resume.skills')}}"><h2>Skills</h2></a>
<a href="{{url_for('resume.languages')}}"><h2>Languages</h2></a>
{% endblock %}
